<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <form th:action="@{/user/login}" method="post">
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                사용자ID 또는 비밀번호를 확인해 주세요.
            </div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" name="username" id="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
        <!-- 버튼을 추가하여 "/resetPassword" 페이지로 이동 -->
        <a href="/user/resetPassword" class="btn btn-secondary">비밀번호 찾기</a>
        <!-- 버튼을 추가하여 "/changePassword" 페이지로 이동 -->
        <a href="/user/changePassword" class="btn btn-secondary">비밀번호 변경</a>
        <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=eaf798efc47254e12eba3a9a52b72302&redirect_uri=http://localhost:8090/user/auth/kakao/callback"><img height="38" src="/image/kakao_login_button.png"/></a>
    </form>

</div>
</html>