<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
    <div class="container my-3">
        <div class="row">
            <div class="col-6">
                <h1>사용자 프로필</h1>

                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">사용자 정보</h5>
                        <div class="card-text" th:text="${user.username}"></div>
                        <div class="card-text" th:text="${user.email}"></div>
                    </div>
                </div>
                <!-- 사용자가 작성한 질문 목록 -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">작성한 질문</h5>
                                        <!-- 질문 목록을 반복해서 표시 -->
                        <table class="table">
                            <thead class="table-dark">
                            <tr class="text-center">
                                <th>번호</th>
                                <th style="width:50%">제목</th>
                                <th>카테고리</th>
                                <th>글쓴이</th>
                                <th>작성일시</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" th:each="question, loop : ${questions}">
                                <td th:text="${questions.getTotalElements - (questions.number * questions.size) - loop.index}"></td>
                                <td class="text-start">
                                    <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                                    <span class="text-danger small ms-2"
                                          th:if="${#lists.size(question.answers) > 0}"
                                          th:text="${#lists.size(question.answers)}">
                    </span>
                                </td>
                                <td><span th:text="${question.category}"></span></td>
                                <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
                                <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- 사용자가 작성한 답변 목록 -->
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">작성한 답변</h5>
                        <!-- 답변 목록을 반복해서 표시 -->
                        <table class="table">
                            <thead class="table-dark">
                            <tr class="text-center">
                                <th>번호</th>
                                <th style="width:50%">제목</th>
                                <th>카테고리</th>
                                <th>글쓴이</th>
                                <th>작성일시</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" th:each="answer, loop : ${answers}">
                                <td th:text="${answers.getTotalElements - (answers.number * answers.size) - loop.index}"></td>
                                <td class="text-start">
                                    <a th:text="${answer.content}"></a>
                                    <span class="text-danger small ms-2"
                                          th:if="${#lists.size(answer.comments) > 0}"
                                          th:text="${#lists.size(answer.comments)}">
                                     </span>
                                </td>
                                <td><span th:if="${answer.author != null}" th:text="${answer.author.username}"></span></td>
                                <td th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 사용자가 작성한 댓글 목록 -->
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">작성한 댓글</h5>
                        <!-- 댓글 목록을 반복해서 표시 -->

                        <table class="table">
                            <thead class="table-dark">
                            <tr class="text-center">
                                <th>번호</th>
                                <th style="width:50%">제목</th>
                                <th>카테고리</th>
                                <th>글쓴이</th>
                                <th>작성일시</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" th:each="comment, loop : ${comments}">
                                <td th:text="${comments.getTotalElements - (comments.number * comments.size) - loop.index}"></td>
                                <td class="text-start">
                                    <a th:text="${comment.subject}"></a>
                                </td>
                                <td><span th:text="${comment.category}"></span></td>
                                <td><span th:if="${comment.author != null}" th:text="${comment.author.username}"></span></td>
                                <td th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</html>