<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>change password</h4>
        </div>
    </div>
    <form th:action="@{/user/changePassword}" th:object="${userPasswordForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="username" class="form-label">ID</label>
            <input type="text" th:field="*{username}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="currentPassword" class="form-label">현재 비밀번호</label>
            <input type="password" th:field="*{currentPassword}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">새 비밀번호</label>
            <input type="password" th:field="*{newPassword}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="newPassword2" class="form-label">새 비밀번호 확인</label>
            <input type="password" th:field="*{newPassword2}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 변경</button>
    </form>
</div>
</html>