<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- 팝업 모달 -->
<div id="popupModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <p id="popupMessage">임시 비밀번호가 메일로 전송되었습니다.</p>
    </div>
</div>

<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>reset password</h4>
        </div>
    </div>
    <form th:action="@{/user/resetPassword}" th:object="${userResetPasswordForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="username" class="form-label">ID</label>
            <input type="text" th:field="*{username}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" th:field="*{email}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 찾기</button>
    </form>
</div>
<script>
    function showPopup() {
    var modal = document.getElementById("popupModal");
    modal.style.display = "block";
}

// 팝업 닫기
function closePopup() {
    var modal = document.getElementById("popupModal");
    modal.style.display = "none";
}
</script>
</html>